/.bundle
/vendor

log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/config/initializers/00_s3.rb
test/dummy/config/initializers/s3.rb
test/dummy/vendor

*~
*.trash
\#*
.#*

ishapi-0.1*gem

/config/initializers/koala.rb

.byebug_history