<!DOCTYPE html>
<html>
<head>
  <title>Ishapi</title>
  <%= stylesheet_link_tag    "ishapi/application", media: "all" %>
  <%= javascript_include_tag "ishapi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
